/* SPDX-License-Identifier: Apache-2.0 */

/ {
	aliases {
		wirelink-uart = &uart1;
	};
};

&dma {
	status = "okay";
};

&pinctrl {
	wirelink_uart1: wirelink_uart1 {
		group1 {
			pinmux = <UART1_TX_GPIO17>, <UART1_RX_GPIO18>;
			bias-pull-up;
		};
	};
};

&uart1 {
	status = "okay";
	current-speed = <3000000>;
	pinctrl-0 = <&wirelink_uart1>;
	pinctrl-names = "default";
	dmas = <&dma 0>, <&dma 1>;
	dma-names = "rx", "tx";
};
